---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const notes = await getCollection('notes');
---

<Layout title="Fragrance Notes Directory">
	<header>
        <h1>Fragrance <span class="text-gradient">Notes</span> Directory</h1>
        <p>A dynamically generated encyclopedia of fragrance notes fetched directly from Google Sheets.</p>
    </header>
</Layout>

<style>
	h1 {
		font-family: var(--font-inter), system-ui;
		font-size: 3rem;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
    header {
        text-align: center;
        margin-bottom: 3rem;
    }
   
</style>
