---
import { Image } from 'astro:assets';
import authorImg from '../assets/images/testimonial1.png';
import '../styles/about-testimonial.css';
---

<section class="about-testimonial">
  <div class="about-testimonial__container">
    <div class="about-testimonial__card">
      <div class="about-testimonial__stars">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
      </div>
      
      <blockquote class="about-testimonial__quote">
        "Finally, a perfume site that treats fragrance like art, not just a commodity. Mimya helped me understand why I love what I love."
      </blockquote>

      <div class="about-testimonial__footer">
        <Image src={authorImg} alt="Catherine Lopez" class="about-testimonial__avatar" />
        <div class="about-testimonial__meta">
          <p class="about-testimonial__author">Catherine Lopez</p>
          <p class="about-testimonial__location">Chesterton, IN</p>
        </div>
      </div>
    </div>
  </div>
</section>