---
import '../styles/footer.css';
---

<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">mimya</div>
  </div>

  <nav class="footer-nav">
    <a href="/">Home</a>
    <a href="/perfume">Perfume</a>
    <a href="/fragrance">Fragrance Notes</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contacts</a>
    <a href="/blogs">Blog</a>
  </nav>

  <div class="footer-bottom">
    <div class="footer-copy">
      © 2026 mimya.com
    </div>

    <div class="footer-links">
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms & Conditions</a>
    </div>
  </div>
</footer>