---
import '../styles/footer.css';
import logo from '../assets/images/logo.png';
import { Image } from 'astro:assets';
---

<footer class="footer">
  <div class="footer-top">
    <!-- Replace text with logo image -->
   <a href="/" class="logo">
    <Image src={logo} alt="mimya" width={120} height={40} />
    </a>
  </div>

  <nav class="footer-nav">
    <a href="/">Home</a>
    <a href="/perfume">Perfume</a>
    <a href="/fragrance">Fragrance Notes</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contacts</a>
    <a href="/blogs">Blog</a>
  </nav>

  <div class="footer-bottom">
    <div class="footer-copy">
      © 2026 mimya.com
    </div>

    <div class="footer-links">
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms & Conditions</a>
    </div>
  </div>
</footer>