---
import '../styles/header.css';
import { Image } from 'astro:assets';
import logo from '../assets/images/logo.png';
---

<header class="header">
  <nav class="navbar">
    <a href="/" class="nav-link active">Home</a>
    <a href="/perfume" class="nav-link">Perfume</a>
    <a href="/fragrance" class="nav-link">Fragrance Notes</a>

    <a href="/" class="logo">
    <Image src={logo} alt="mimya" width={120} height={40} />
    </a>

    <a href="/about" class="nav-link">About Us</a>
    <a href="/contact" class="nav-link">Contact</a>
<a href="/blogs" class="nav-link">Blog</a>  </nav>
</header>